

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.searchEngine {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 20px;
    background-image: url("./assets/search-background.jpg");
    margin: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.searchEngine .form-control {
    border-radius: 14px;
    padding: 10px;
}

/* .searchEngine img {
    width: 400px;
} */

.card {
    margin: 10px 10px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.card h6 {
    background-color: rgb(144, 227, 168);
    width: 40%;
    display: inline-block;
    text-align: center;
    padding: 4px;
    border-radius: 12px;
}

#listOfMeals {
    width: 100%;
    margin: auto;
}

#listOfMeals .col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}


.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.categories {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: cornflowerblue;
}

.categories ul {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories ul li {
    list-style: none;
    /* background-color: #fff; */
    color: white;
    padding: 25px 35px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 8px;
    background:linear-gradient( rgba(255, 255, 255, 0.5), rgba(53, 53, 53, 0.807) ), url("/assets/fruits.png");
}

.categories ul li a {
    color: white;
    text-decoration: none;
}

